
    @font-face {
    font-family: AOT-Regular;
    src: url(../fonts/AOTFShinGoProRegular.otf);
    }
    @font-face {
    font-family: AOT-Bold;
    src: url(../fonts/AOTFShinGoProBold.otf);
    }
    @font-face {
    font-family: AOT-Medium;
    src: url(../fonts/AOTFShinGoProMedium.otf);
    }
    @font-face {
    font-family: AOT-Light;
    src: url(../fonts/AOTFShinGoProLight.otf);
    }
    @font-face {
    font-family: Helvetica-Medium;
    src: url(../fonts/HelveticaNeueLTProMd.otf);
    }
    @font-face {
    font-family: Helvetica-Bold;
    src: url(../fonts/HelveticaNeueLTProBd.otf);
  }
  // @font-face {
  //   font-family: SourceHans-Bold;
  //   src: url(../fonts/SourceHanSerif-Bold.otf);
  // }
  @font-face {
    font-family: Helvetica-Roman;
    src: url(../fonts/HLB.ttf);
  }
  @font-face {
    font-family: Helvetica-65;
    src: url(../fonts/helvetica-neue-lt-pro-65-medium.otf);
  }
  @font-face {
    font-family: Helvetica-45;
    src: url(../fonts/helvetica-neue-lt-pro-45-light.otf);
  }